{% extends 'NimbusApartmentsBundle::base.html.twig' %}

{% block body %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Apartments</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for apt in apartments %}
    <tr>
      <td><a href="{{ path('details_browsing', {'slug': apt.slug}) }}">{{ apt.title }}</a></td>
      <td class="actions">
        <a href="{{ path('update_apartment', {'slug': apt.slug}) }}" class="btn btn-primary btn-mini">Edit</a>
        <a href="{{ path('delete_apartment', {'slug': apt.slug}) }}" class="btn btn-danger btn-mini">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}