body { padding-top: 80px; padding-bottom: 120px; }

#apartment_map img{max-width:none}
#apartment_map .thumbnail {max-width: 260px;}
.semihidden { opacity:0.4; filter:alpha(opacity=40); /* For IE8 and earlier */}
.hero-unit { padding: 40px !important;}
.hero-unit h1 { font-size: 4em !important;  }
.apart-details .row { margin: 12px 0; line-height: 30px; }
.control-group textarea, textarea.big_textbox { width: 350px; height: 150px; }
textarea.med_textbox { width: 270px; height: 100px; }
.btn.back { margin-bottom: 20px; }
.table .actions a { margin-right: 10px; }